$light-bg: #fff;
$light-color: #2c3e50;
$light-box-shadow: rgba(0, 0, 0, .2);
$light-preview-background: #fcfcfc;
$light-preview-color: #2c3e50;
$light-column-bg: #eee;
$light-column-color: #2c3e50;
$light-toolbar-border: #efefef;
$light-toolbar-hover-color: #64b587;
$light-toolbar-hover-bg: #f6f6f6;
$light-toolbar-muted-color: #ddd;
$light-toolbar-muted-bg: #efefef;

$dark-bg: #1e1e1e;
$dark-color: #61dafb;
$dark-column-bg: #272727;
$dark-column-color: #2d8cf0;
$dark-toolbar-border: #111;
$dark-box-shadow: rgba(255, 255, 255, .2);
$dark-toolbar-hover-color: #61dafb;
$dark-toolbar-hover-bg: #000;
$dark-toolbar-muted-color: #ddd;
$dark-toolbar-muted-bg: #555;