$light-bg: #fff;
$dark-bg: #1e1e1e;

$light-color: #2c3e50;
$dark-color: #61dafb;

$light-placeholder-color: #757575;
$dark-placeholder-color: #ddd;

$light-box-shadow: rgba(0, 0, 0, .2);
$dark-box-shadow: rgba(255, 255, 255, .2);

$light-preview-bg: #fcfcfc;


$light-preview-color: #2c3e50;


$light-column-bg: #eee;
$dark-column-bg: #272727;

$light-column-color: #2c3e50;
$dark-column-color: #2d8cf0;

$light-toolbar-border: #efefef;
$dark-toolbar-border: #111;

$light-toolbar-hover-color: #64b587;
$dark-toolbar-hover-color: #61dafb;

$light-toolbar-hover-bg: #f6f6f6;
$dark-toolbar-hover-bg: #000;

$light-toolbar-muted-color: #ddd;
$dark-toolbar-muted-color: #ddd;

$light-toolbar-muted-bg: #efefef;
$dark-toolbar-muted-bg: #555;

$light-scrollbar-color: #0003;
$dark-scrollbar-color: #555;
