$light-background: #fff;
$light-color: #2c3e50;
$light-preview-background: #fcfcfc;
$light-preview-color: #2c3e50;
$light-column-background: #eee;
$light-column-color: #2c3e50;

$dark-background: #1e1e1e;
$dark-color: #61dafb;

$dark-column-background: #272727;
$dark-column-color: #2d8cf0;