@import '../assets/css/tomorrow.css';
.m-editor-preview {
  text-align: left;
  line-height: 2;
  ul {
    list-style: disc;
  }
  a {
    color: #2d8cf0;
  }
  blockquote {
    border-left: 2px solid #009a61;
    color: #555;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 1.5em 0;
  }
  code {
    background: #f0f0f0;
    padding: 5px;
    border-radius: 4px;
    font-family: Consolas, Monaco, monospace;
  }
  pre {
    background: #f0f0f0;
    margin: 1em 0;
    padding: 1em;
    overflow-x: auto;
    width: 100%;
    code {
      // padding: 0.5em;
      font-family: Consolas, Monaco, monospace;
      padding: 0;
      border-radius: 0;
    }
  }
  table {
    width: 100%;
    border: 1px solid #dddee1;
    border-bottom: 0;
    background: #fff;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 1.5em 0;
    tr {
      td, th {
        padding: 0 0.5em;
        line-height: 40px;
        color: #333;
        cursor: pointer;
        border: 1px solid #dddee1;
        min-width: 100px;
      }
      &:nth-of-type(2n) td, th {
        background: #f8f8f9;
      }
    }
  }
  ul, ol {
    margin: 1.5em 0;
    padding: 0 2em;
    // list-style: circle;
  }
  ol {
    padding: 0 2em;
    list-style: decimal;
  }
  img {
    max-width: 100%;
    padding: 1em;
  }
}