@import './color.scss';

.editor {
  span, code, a, input, em, s, strong, small, cite, q, abbr, dfn, data, time, var, samp, sub, sup,
  kbd, i, b, u, mark, ruby, rt, rb, bdi, bdo, br, wbr, ins, del,
  footer, address, main, article, nav, body, section, aside, header, h1, h2, h3, h4, h5, h6,
  div, p, pre, hr, blockquote, ol, li, ul, dl, dt, dd, figure, figcaption,
  img, iframe, embed, object, param, video, audio, source, track, canvas, map, area, svg, math,
  table, caption, colgroup, col, tbody, thead, tfoot, tr, td, th,
  form, fieldset, legend, label, input, button, select, datalist, optgroup, option, textarea, keygen, output, progress, meter,
  details, summary, menuitem, menu
   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
}

.editor {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0 $light-box-shadow;
  height: 500px;
  border-radius: 8px;
}
.editor-content {
  width: 100%;
  flex: 1;
  display: flex;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
}
.editor-content-preview, .editor-content-edit {
  flex: 0 0 50%;
  height: 100%;
  overflow-y: auto;
  &.active {
    flex: 0 0 100%;
  }
  &.inactive {
    flex: 0 0 0;
    opacity: 0;
  }
  transition: all .2s ease-in;
}
.editor-content-preview {
  background: $light-preview-background;
  color: $light-preview-color;
  padding: 10px!important;
}
.editor-content-edit {
  background: $light-bg;
  &-block {
      display: flex;
      overflow: hidden;
      min-height: 100%;
  }
  &-input {
      position: relative;
      flex: 1 1 0;
      line-height: 30px;
      background: $light-bg;
      min-height: 100%;
      overflow: hidden;
      div, textarea {
        display: block;
        word-wrap: break-word;
        margin: 0;
        box-sizing: border-box;
        text-align: left;
        width: 100%;
        font-family: inherit;
        font-size: 14px;
        padding: 10px;
        display: block;
        line-height: inherit;
      }
      div {
        white-space: pre-wrap;
        visibility: hidden;
      }
      textarea {
          position: absolute;
          color: $light-color;
          background: $light-bg;
          top: 0;
          bottom: 0;
          overflow: hidden;
          border: none;
          resize: none;
          outline: none;
          z-index: 2;
          height: 100%;
      }
  }
}
.dark-editor {
  box-shadow: 0 0 2px 2px $dark-box-shadow;
  .editor-content-edit {
    background: $dark-bg;
    &-input {
      background: $dark-bg;
    }
    textarea {
      background: $dark-bg;
      color: $dark-color;
    }
  }
}
.editor-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin-top: 0;
  border: none;
  width: 100%;
  height: 100vh !important;
  background-color: #fff;
}
