@import './color.scss';
.tooltip-wrapper {
  position: relative;
}
.tooltip-content {
  position: absolute;
  left: 0;
  margin-top: 5px!important;
  padding: 5px 3px;
  background: $light-bg;
  height: 0;
  opacity: 0;
  z-index: 10;
  box-shadow: 0 0 0 1px $light-toolbar-border;
  border-radius: 3px;
  overflow: hidden;
  li {
    span {
      box-sizing: content-box;
      padding: 3px;
      text-align: center;
      display: block;
    }
  }
  &.mouse-in {
    height: auto;
    opacity: 1;
  }
  transition: all .5s ease-in-out;
}

.dark-editor {
  .tooltip-content {
    background: $dark-bg;
    box-shadow: 0 0 0 1px $dark-toolbar-border;
  }
}
