.editor-toolbar {
  border-radius: 8px 8px 0 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  &-tools, &-mode {
    list-style: none;
    display: flex;
    li {
      width: 30px;
      margin: 5px 3px 5px 3px!important;
      a {
        line-height: 20px;
        font-size: 15px;
        padding: 5px;
        display: block;
        color: #2c3e50;
        &:hover {
          color: #64b587;
          background: #f6f6f6;
          cursor: pointer;
          border-radius: 5px;
        }
        &.muted {
          background: #efefef;
          color: #ddd;
          &:hover {
            cursor: default;
            color: #ddd;
          }
        }
      }
    }
  }
  &-tools {
    padding-left: 10px!important;
  }
}