.m-editor /deep/ {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
}

.m-editor {
  position: relative;
  height: 500px;
  color: #333;
  line-height: 40px;
  font-size: 14px;
  border: 1px solid #dddee1;
  overflow: hidden;
  text-align: left;
  
  .edit-toolbar {
    border-bottom: 1px solid #dddee1;
    position: absolute;
    background: #fff;
    width: 100%;
    .edit-tools, .edit-mode {
      line-height: 0;
      font-size: 0;
      white-space: nowrap;
      overflow: hidden;
      li {
        font-size: 18px;
        display: inline-block;
        overflow: auto;
        a {
          display: block;
          font-size: 18px;
          width: 40px;
          height: 40px;
          line-height: 30px;
          border: 5px solid #fff;
          text-align: center;
          color: #999;
          &:hover {
            cursor: pointer;
            border-color: #f6f6f6;
            background-color: #f6f6f6;
            color: #64b587;
          }
        }
        .muted {
          color: #ddd;
          border-color: #f6f6f6;
          background-color: #f6f6f6;
          cursor: default;
          &:hover {
            cursor: default;
            color: #ddd;
          }
          
        }
      }
    }
    .pull-left {
      float: left;
    }
    .pull-right {
      float: right;
    }
  }
  .edit-content {
    height: 100%;
    &-scroll {
      padding-top: 32px;
      height: 100%;
    }
  }
  .m-editor-input,
  .m-editor-preview {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 100%;
    textarea {
      padding: 8px 12px;
      background-color: #1e1e1e;
      color: #fff;
      box-sizing: border-box;
      width: 100%;
      font-size: 14px;
      line-height: 30px;
      height: 100%;
      border: none;
      outline: none;
      resize: none;
      font-family: Arial, Helvetica, sans-serif;
    }
    div {
      padding: 8px 12px;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      // background: #f6f6f6;
      background: #fff;
    }
  }
  .m-editor-input {
    border-right: 1px solid #dddee1;
  }
  .edit-full {
    width: 100%;
    border-right: 0;
  }
}
.m-editor_fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin-top: 0;
  border: none;
  width: 100%;
  height: 100vh !important;
  background-color: #f6f6f6;
}